@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixin";
.projectsBlock {
    background-color: $secondary-color-text;
    padding: 100px 0 80px 0;
    .container {
        @include container();
        @include flex(center,center,column);
        .projects {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            margin: 0 -9px;
        }
    }
}
