
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutMe {
    height: 100vh;
    background-color: #00ff9b;
}

.aboutMe__block {

}
.aboutMe__uptitle{
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;
    line-height: 24px;
}
.aboutMe__title{
    color: #000000;
    font-family: Montserrat;
    font-size: 60px;
    line-height: 56px;
    text-align: left;
    margin-top: 15px;
}
.aboutMe__subtitle{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 24px;
    margin: 0 20px;
}
.aboutMe__photo {
    width: 300px;
    height: 400px;
    background-color: white;
}

@media (max-width: 768px) {
    .aboutMe__text {
        width: 200px;
        font-size: 2rem;
        background-color: white;
    }

    .aboutMe__photo {
        width: 250px;
        height: 300px;
        background-color: white;
    }
}

@media (max-width: 566px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .aboutMe__text {
        width: 300px;
        font-size: 2rem;
        background-color: white;
    }

    .aboutMe__photo {
        width: 250px;
        height: 300px;
        background-color: white;
    }
}

@media (max-width: 353px) {
    .aboutMe__text {
        width: 100%;
        font-size: 2rem;
        background-color: white;
    }

    .aboutMe__photo {
        margin-top: 10px;
        width: 100%;
        height: 300px;
        background-color: white;
    }
}