@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";
.skillsBlock {
    background-color: $skills-background;
    padding: 100px 0 80px 0;
    .container {
        @include flex (center,center,column);
        .skills {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            margin: 0 -9px;
        }
    }
}






