@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixin";
.home {
    position: relative;
    padding-top: 30px;
    @include BlockSize(100vh);
    @media (max-width: 1070px){
        @include BlockSize(100%);
        padding-bottom: 20px;
    }
    background-color:$aboutMe-background;
    .container {
        @include container();
        @include flex (center,space-between,row);
        @media (max-width: 1170px){
            @include flex (center,center,row);
        }
        .home__block {
            .home__uptitle {
                @include text($title-color,24px,700,2px,24px);

            }
            .home__title {
                @include text($title-color,60px,700,2px,56px);
                margin-top: 15px;

                @media (max-width: 370px){
                   text-align: center;
                    font-size: 52px;
                }
            }
            .home__subtitle {
                @include text($title-color,12px,600,2.5px,24px);
                text-transform: uppercase;
                position: relative;
                margin-bottom: 50px;
                font-family: 'Lato', sans-serif;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 35px;
                    @include BlockSize(1px,100px);
                    background: $title-color;
                }
                @media (max-width: 555px){
                    margin-bottom: 10px;
                }
            }
            @media (max-width: 370px){
                @include flex (center,center,column);
            }
        }
    }
    .mainImage__block{
        object-fit: cover;
        height: 550px;
        width: 393px;
        border-radius: 10px;
        box-shadow: -5px -8px 18px 8px rgba(89, 94, 87, 0.4);
        @media (max-width: 1070px){
            display: none;
        }
    }
}



