.button {
    background-color: rgba(6, 34, 36, 0.55);
    width: 80px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    outline: none;
}
