$home-background:#5B5F59;
$title-color:#000000;
$aboutMe-background:#EEEDFD;
$aboutMe2-background:#ffffff;
$contancs-background:#ffffff;
$contancs-primary:rgba(7, 88, 90, 0.55);
$contancs-secondary:rgba(95, 185, 171, 0.55);
$distance-background:#FAFAFA;
$skills-background:#FAFAFA;
$p-color:#606060;
$border-color:#e8e8e8;
$primary-color-text:#000000;
$secondary-color-text:#ffffff;
$project-bg-c:#1bbefe;
$skill-bg:rgba(74, 66, 66, 0.4);
