
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutMe__block{
    padding: 100px 0 80px 0;
    background: white;
}
.aboutMe__text{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #606060;
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
}
.aboutMe__photowrapper {
    background: rgba(0, 0, 0, 0) url(../../assets/profile-bg.png) no-repeat scroll 0 100%;
    margin-right: -30px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.aboutMe__photo {
    height: 450px;
    width: 400px;
    background: peachpuff;
    border: 10px solid #e8e8e8;
}
.downloadCV {
    display: block;
    color: #000000;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 14px 30px 14px 30px;
    transition: background-color .3s ease 0s, color .3s ease 0s, border-radius .3s ease 0s;
    white-space: nowrap;
}
.downloadCV:hover{
    color: #ffffff;
    background-color: #000000;
}

.aboutMe__article{
    height: 100%;
    width: 500px;
}
.aboutMe__block__button__block{
    display: flex;
}
.aboutMe__block__button__block >button + a {
    margin-left: 30px;
}
