
.skill {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 20px;
    width: 33%;
    align-items: center;
    text-align: center;
    margin: 5px 5px 5px 0;
    border-radius: 10px;
}

.skill__title {
    margin-bottom: 10px;
}

.skill__description {

}

.skill__iconBox {
    margin: 20px 0 20px 0;
    height: 80px;
    width: 80px;
    background-color: rgba(74, 66, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(42deg);
    cursor: pointer;
}

.skill__icon {
    width: 40px;
    height: 35px;
    transform: rotate(-42deg);
}

.skill__iconBox:hover {
    animation: skill__iconBox 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes skill__iconBox {
    0% {
        transform: translateY(50);
    }
    100% {
        transform: translateY(-20px);
    }
}

