@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";
.home {
    @include BlockSize(85vh);
    background-color:$home-background;
    .container {
        @include flex (center,space-between,row);
        .home__block {
            .home__uptitle {
                @include text($title-color,24px,700,2px,24px);
            }
            .home__title {
                @include text($title-color,60px,700,2px,56px);
                margin-top: 15px;
            }
            .home__subtitle {
                @include text($title-color,12px,600,2.5px,24px);
                text-transform: uppercase;
                position: relative;
                margin-bottom: 50px;
                font-family: 'Lato', sans-serif;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 35px;
                    @include BlockSize(1px,100px);
                    background: $title-color;
                }
            }
        }
        .home__photo {
           @include BlockSize(400px,400px);
            background: peachpuff;
        }
    }
}





@media (max-width: 768px) {
    .aboutMe__text {
        width: 200px;
        font-size: 2rem;
        background-color: $home-background;
    }

    .aboutMe__photo {
        width: 250px;
        height: 300px;
        background-color: $home-background;
    }
}

@media (max-width: 566px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .home__text {
        width: 300px;
        font-size: 2rem;
        background-color: $home-background;
    }

    .home__photo {
        width: 250px;
        height: 300px;
        background-color: $home-background;
    }
}

@media (max-width: 353px) {
    .home__text {
        width: 100%;
        font-size: 2rem;
        background-color: $home-background;
    }

    .home__photo {
        margin-top: 10px;
        width: 100%;
        height: 300px;
        background-color: $home-background;
    }
}