
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    height: 100vh;
    background-color: rgb(238, 237, 253);
}

.home__block {

}

.home__uptitle {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;
    line-height: 24px;
}

.home__title {
    color: #000000;
    font-size: 60px;
    line-height: 56px;
    text-align: left;
    margin-top: 15px;
}

.home__subtitle {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
}

.home__subtitle:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 100px;
    height: 1px;
    background: #010101;
}

.home__photo {
    height: 400px;
    width: 400px;
    background: peachpuff;
}
.home__photo img {
    position: absolute;
    right: 0;
    top: 0;
    left: -392px;
    bottom: 0;
}

@media (max-width: 768px) {
    .aboutMe__text {
        width: 200px;
        font-size: 2rem;
        background-color: white;
    }

    .aboutMe__photo {
        width: 250px;
        height: 300px;
        background-color: white;
    }
}

@media (max-width: 566px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .home__text {
        width: 300px;
        font-size: 2rem;
        background-color: white;
    }

    .home__photo {
        width: 250px;
        height: 300px;
        background-color: white;
    }
}

@media (max-width: 353px) {
    .home__text {
        width: 100%;
        font-size: 2rem;
        background-color: white;
    }

    .home__photo {
        margin-top: 10px;
        width: 100%;
        height: 300px;
        background-color: white;
    }
}