@import "../../../../styles/sass/variables";
@import "../../../../styles/sass/mixin";

.aboutMe__block{
    padding: 100px 0 80px 0;
    background: $aboutMe2-background;
    @media (max-width: 1070px){
        padding: 20px 0 80px 0;
    }
    .container {
        @include flex (center,space-between,row);
        @include container();
        @media (max-width: 1290px){
            @include flex (center,space-between,column);
        }
        .aboutMe__photowrapper {
            background: rgba(0, 0, 0, 0) url(../../../../components/Image/imageProject/profile-bg.png) no-repeat scroll 0 100%;
            margin-right: -30px;
            padding-bottom: 40px;
            padding-left: 30px;
            @media (max-width: 640px){
                background: none;
                margin-right: 0;
                padding-bottom: 0;
                padding-left: 0;
            }
            .aboutMe__photo {
                height: 521px;
                width: 497px;
                background: peachpuff;
                border: 10px solid $border-color;
                object-fit: cover;
                @media (max-width: 540px){
                    background: none;
                    margin-right: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    width: 100%;
                }
                @media (max-width: 424px){
                    width: 340px;
                }
            }
        }
        .aboutMe__article{
            height: 100%;
            width: 500px;
            @media (max-width: 1290px){
                @include flex (center,center,column);
                width: 100%;
            }
            .aboutMe__text{
                font-size: 14px;
                line-height: 24px;
                color: $p-color;
                margin: 0 0 10px;
                font-family: 'Lato', sans-serif;
                @media (max-width: 1290px){
                    text-align: center;
                }
            }
            .aboutMe__block__button__block{
                display: flex;
                @media (max-width: 1290px){
                    justify-content: center;
                }
                .downloadCV {
                    display: block;
                    color: $primary-color-text;
                    background-color: $secondary-color-text;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    border: 2px solid rgba(0, 0, 0, 1);
                    padding: 14px 30px 14px 30px;
                    transition: background-color .3s ease 0s, color .3s ease 0s, border-radius .3s ease 0s;
                    white-space: nowrap;
                    &:hover {
                        color: $secondary-color-text;
                        background-color: $primary-color-text;
                    }
                }
            }
            .aboutMe__block__button__block >button + a {
                margin-left: 30px;
            }
        }
    }
}









