.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

/*
@media (max-width: 566px) {
    .container {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        border: 1px solid black;
    }
}*/
