@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixin';
.nav {
    width: 100%;
    .items {
        display: none;
        li {
            @include text(#404040,12px,500,1.5px,24px);
            display: block;
            text-transform: uppercase;
            padding: 8px 21px;
            cursor: pointer;
            &:hover {
                color: #1bbefe;
            }
            .active {
                color: #1bbefe;

            }
        }
    }
    .burger {

    }
    .show {
       @include flex (center,center,column);
    }
    @media screen and (min-width: 492px){
        display: none;
    }
}

