@import "../../../../styles/sass/variables";
@import '../../../../styles/sass/mixin';
.skill {
    width: 32.99%;
    margin-bottom: 14px;
    padding: 0 9px;
    text-align: center;
    border-radius: 10px;
    @media (max-width: 879px){
        @include BlockSize(100%,50%);
    }
    @media (max-width: 663px){
        @include BlockSize(100%,100%);
    }
    @include flex (center,center,column);
    .skill__content{
        color: $primary-color-text;
        background-color: $contancs-background;
        text-align: center;
        height: 100%;
        padding: 10px;
        .skill__icon_wrapper{
            @include flex (center,center,row);
            .skill__iconBox {
                margin: 20px 0 20px 0;
                @include BlockSize(80px,80px);
                background-color: $skill-bg;
                @include flex (center,center,row);
                transform: rotate(42deg);
                cursor: pointer;
                &:hover {
                    animation: skill__iconBox 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
                .skill__icon {
                    width: 40px;
                    height: 35px;
                    transform: rotate(-42deg);
                }
        }
        }
        .skill__title {
            margin-bottom: 10px;
        }
        .skill__description {
            color: $p-color;
            font-size: 14px;
            line-height: 24px;
            font-family: 'Lato', sans-serif;
        }

    }
}

@keyframes skill__iconBox {
    0% {
        transform: translateY(50);
    }
    100% {
        transform: translateY(-20px);
    }
}

