.project {
    width: 50%;
    margin-bottom: 14px;
    padding: 0 9px;
}
.project__content{
    color: #242424;
    background-color: #1bbefe;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.project__head {
    position: relative;
    margin-bottom: 10px;
}
.project__body__image {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.project__body__btn{
    position: absolute;
    top: 42%;
    left: 37%;
}

.project__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
    color: #232323;
}
.project__description {
    color: #858585;
    text-transform: capitalize;
}

@media (max-width: 580px) {
    .project__body__image {
        width: 100%;
        height: 300px;
        border-radius: 5px;
    }
}