
@import "../../styles/sass/variables";
@import "../../styles/sass/mixin";

.footerBlock {
    background-color: #FAFAFA;
    .container {
        @include flex (center,center,column);
        @include container();
        .footerBlock__title {
            margin: 20px 0;
        }
        & small {
            margin: 15px 0 15px 0;
        }
    }
}

