@import "../../styles/sass/variables";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactsBlock {
    background-color: $contancs-background;
    padding: 100px 0 80px 0;
}

.contactsBlock__title {
    margin: 20px 0;
    background-color: $contancs-primary;
}

.form {
    background-color: $contancs-secondary;
    margin-bottom: 50px;
}

.form ul {
    width: 800px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form ul li {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.form li input, textarea {
    display: inline-block;
    width: 500px;
    height: 50px;
    resize: none;
}

.form li label {
    position: absolute;
    font-size: 1.4rem;
    top: -25px;
    left: 90px;
}



@media (max-width: 1000px) {
    .form ul {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 658px) {
    .form {
        width: 400px;
        margin-bottom: 50px;
    }

    .form li input, textarea {
        display: inline-block;
        width: 300px;
        height: 50px;
    }
}

@media (max-width: 452px) {
    .form {
        width: 350px;
        margin-bottom: 50px;
    }

    .form li input, textarea {
        display: inline-block;
        width: 300px;
        height: 50px;
    }

}

@media (max-width: 395px) {
    .form {
        width: 310px;
        margin-bottom: 50px;
    }

    .form li input, textarea {
        display: inline-block;
        width: 300px;
        height: 50px;
    }
}