.projectsBlock {
    background-color: #FFFFFF;
    padding: 100px 0 80px 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
@media (max-width: 1256px) {
    .projects {
       justify-content: center;
    }
}

@media (max-width: 580px) {
    .projects {
        width: 100%;
    }
}
